  /* GLOBAL */
:root{
  --color-sky:#caebf2;
  --color-sky-dark:#b1ced4;
  --color-carbon:#a9a9a9;
  --color-watermelon:#ff3b3f;
  --color-neutral:#efefef;
}
*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--color-neutral);
  color: #000;
  font-family: 'Roboto', sans-serif;
}

  /* NAV MENU */
.nav-bar{
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: var(--color-sky);
  border: 0px;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right bottom, var(--color-sky-dark) 50%, var(--color-neutral));
  border-image-slice: 1;
}
.nav-bar li{
  padding: 10px;
  margin: 10px;
}
.nav-bar li a{
  color: #000;
  font-size: 1.3em;
  font-weight: 700;
  transition: 300ms;
}
.nav-bar li a:hover{
  text-decoration: underline;
  /* text-decoration-style: solid; */
  color: var(--color-watermelon);
  transition: 300ms;
}

  /* CONTAINER */
.container{
  max-width: 980px;
  margin: 0 auto;
}
.menu{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.list li:nth-child(even){
  background-color: var(--color-carbon);
}

  /* BUTTONS */
.buttom-add{
  padding: 10px;
  color: #fff;
  background-color: var(--color-watermelon);
  border: 1px solid var(--color-carbon);
  border-radius: 10px;
  transition: 200ms;
}
.buttom-add:hover{
  color: #000;
  background-color: var(--color-carbon);
  cursor: pointer;
}


  /* FORMS */
form{
  padding: 4em;
  margin: 0 8em 0 8em;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  font-weight: 500;
}
form input{
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}
form span{
  color: var(--color-watermelon);
}
form p{
  font-size: 0.8em;
  margin: 10px 0 0 auto;
}


