//Background do Site de Admin
    body {
        background: lavender;
    }

// Tabela de Dados
    #tabela-admin {
        padding: 2em 0 3em 0;
        background: linear-gradient(180deg, #d6d6ff, #d9d9fd59);
        border-radius: 2em;
    }

    // Células
    #mx-05 {
        margin-right: 0.05em!important;
        margin-left: 0.05em!important;
    }
    