/* ==== Colors ==== */
$main-color: #6f00ff;
$body-color: #e1ddf4;
$sidebar-color: #6f00ff;
$primary-color-side: #fff;
$primary-color-light-side: #5300c0;
$toggle-color: #DDD;
$text-color: #fff;
    $purple-dark: #7872CF;

$gray: #EBEBEB;
$green: #79f287;

/* ==== Transition ==== */

$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;