@charset "UTF-8";


/*Formatação do Título*/


nav#menu
{
  display: block;
}

nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -5px;
  left: 630px;
}

nav#menu li{
  display: inline-block;
  background-color: #cbd5e0;
  padding: 10px;
  margin: 2px;

}

nav#menu li:hover{
  background-color: rgba(174, 184, 226, 0.97);

}

nav#menu h1{
  display: none;
}

nav#menu a{
  font-weight: bolder;
  text-decoration: none;
  padding-left: 10px;
}
